{%extends 'all-news/base.html'%}
{% block content %} 
{{ block.super}}
{% load static %}
{% load bootstrap3 %}
<style>
  .block{
    display:flex;
    justify-content:space-between;
  }
</style>
<div class="container">

  <!-- Looping through news   -->
  {% for news_item in news %}

  <div class="container block mt-3">
    <div class="card" style="width:400px">
      <img src="{{news_item.article_image.url}}" class="img-responsive" width="200" alt="Image">
        <div class="card-body">
          <div class="">
            <h2 class=""> {{ news_item.title }} </h2>
          </div>
          <br>
        </div>
      </div>
      </div>
      

  {% empty %}
  <div class="row">
    <h2 class="text-center">There No News Items</h2>
  </div>
  {% endfor %}
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <form  action="{%url 'newsToday'%}" method="post">
        {%csrf_token%}
    
        {% bootstrap_form letterForm layout='inline' %}
        <input type="submit" value="Subscribe">
      </form>
    </div>
  </div>
</div>

{% endblock content %}
<!--End of the block content-->
{% block scripts %} {{block.super}}
  <script type="text/javascript" src="{%static 'js/newsletter.js'%}"></script>
{% endblock %}